.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.col-sm {
  padding: 15px 0px 0px 0px;
}

.btn {
  margin: 5px 5px 5px 5px;
}

.row-content {
  margin: 0px auto;
  padding: 20px 0px;
  border-bottom: 1px ridge;
  min-height: 300px; }

.footer {
  background-color: #0070c0;
  color: #fff;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  background-image: url("../img/Headerbv.png");
  background-size: cover;
  min-height: 300px;
  margin: 0px auto;
  padding: 70px 30px;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 0px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #512DA8; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #530f44; }
  .carousel .carousel-item {
    height: 300px; }

    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }


.carousel-caption {
  position: absolute;
  top:-25px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }


  .myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 30px;
  }

  
  



